<div class="wrapper">
    <div class="page-header" [style.backgroundImage]="'url(' + backGroundImage + ')'">
        <div class="filter"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                    <div class="card card-register azul">
                        <h3 class="d-flex justify-content-center">Cadastro Sistema</h3>
                        <form class="register-form" (ngSubmit)="cadastrarUsuario()">
                            <label>Email</label>
                            <input type="text" class="form-control" name="email" placeholder="Email" [(ngModel)]="usuario.email">
                            <label>Senha</label>
                            <input type="password" class="form-control" name="passowrd" placeholder="Password" [(ngModel)]="usuario.senha">
                            <button class="btn btn-success btn-block btn-round">Cadastrar</button>
                        </form>
                        <div class="forgot">
                            <label>Cadastro realizado com sucesso, verifique seu email!</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer register-footer text-center">
                <h6>&copy;{{test | date: 'yyyy'}}, <i class="fa fa-star heart"></i> TG André | Yuri</h6>
            </div>
        </div>
    </div>
</div>