<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" [style.backgroundImage]="'url(' + garageImage + ')'">
        <div class="filter "></div>
    </div>
    <div class="section profile-content ">
        <div class="container ">
            <div class="owner ">
                <div class="avatar ">
                    <img alt="Circle Image " class="img-circle img-no-padding img-responsive " [src]="cliente.foto || '' " />
                </div>
                <div class="name ">
                    <h4 class="title ">{{cliente.nome }}
                        <br />
                    </h4>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-6 ml-auto mr-auto text-center ">
                    <p>{{cliente.descricao }} </p>
                    <br />
                </div>
            </div>

            <h2 class="text-center">Anuncios Abertos</h2><br>
            <div class="row posicao">
                <div class="col-md-4" *ngFor="let anuncio of anuncios">
                    <div class="card" style="width: 18rem;">
                        <a [routerLink]="['/anuncio', anuncio.id]">
                            <img class="card-img-top" [src]="anuncio?.fotos[0] || ''" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{anuncio.titulo}}</h5>
                                <h5 class="card-title">
                                    <b>{{anuncio.preco | currency: 'BRL': true }}</b>
                                </h5>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-dark text-center landing-section">
            <div class="container">
                <h2 class="title center">Dados Vendedor</h2>
                <div class="row justify-content-center">
                    <div>
                        <div class="card card-profile card-plain">
                            <div class="card-avatar">
                                    <img [src]="cliente?.foto || ''">
                            </div>
                            <div class="card-body">
                                    <div class="author">
                                        <h4 class="card-title">{{cliente.nome}}</h4>
                                        <h6 class="card-category text-muted">{{cliente.descricao}}</h6>
                                    </div>
                                <div class="card-description text-center">
                                    <h4>Contatos</h4><br>
                                    <table *ngFor="let contato of cliente.contatos text-center">
                                        <tr>
                                            <td>{{contato.tipo}}</td>
                                            <td>{{contato.info}}</td>
                                        </tr>
                                    </table>
                                    <br>
                                    <h4>Endereço</h4><br>
                                    <p>
                                        {{cliente.endereco.rua}}, {{cliente.endereco.numero}} {{cliente.endereco.complemento}}<br>
                                        {{cliente.endereco.bairro}}, {{cliente.endereco.cidade}}/{{cliente.endereco.uf}}<br>
                                        {{cliente.endereco.cep}}
                                    </p>
    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>