<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/pesquisa.jpg');">
    <div class="filter"></div>
  </div>
  <div class="container">
    <h1 class="text-center">Suporte</h1>
    <h4>Bem vindo á página de suporte!</h4>
    <br>
    <br>
    <p>
      Preparamos esta seção para que todos possam ter um contato para resoluções de problemas, dificuldades de utilização ou até
      mesmo sugestão de melhorias!
    </p>
    <br>
    <br>
    <h5 class="text-center">
      <b>Contatos</b>
    </h5>
    <br>
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-center"><h6><i class="fa fa-envelope"></i> suporte@yamotors.com.br</h6></li>
          <li class="list-group-item text-center"><h6><i class="fa fa-phone"></i> (16) 3701-9999</h6></li>
          <i class="fas fa-mobile-alt"></i>
        </ul>
      </div>
    </div>
    <br>
    <p>* Emails respondidos em até 2 dias úteis, e atendimento pelo telefone de Segunda a Sexta das 08h as 18h.</p>


  </div>




</div>