<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/pesquisa.jpg');">
    <div class="filter"></div>
  </div>
  <div class="container">
    <h1 class="text-center">Sobre</h1>
    <h4>Bem vindo á página de informações!</h4>
    <br>
    <br>
    <p>
      <b>Projeto de TG Fatec/Franca, Novembro/2018.</b><br>
      Desenvolvido nas linguagens: <b>AngularJs | Firebase | Bootstrap | CSS.</b><br>
      Boas práticas: <b>Designer UX e UI simplificando a utilização do sistema.</b><br>
    </p>
    <br>
    <h5 class="text-center">
      <b>Contatos</b>
    </h5>
    <br>
    <div class="row posicao">
      <div class="col-md-4">
          <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="teste.png" alt="Card image cap">
                  <div class="card-body">
                      <h5 class="card-title">André Luis Firmino</h5>
                      <h5 class="card-title">
                          <b>Fatec Franca</b>
                      </h5>
                      <h6 class="card-title"><i class="fa fa-envelope"></i> andrecnl@gmail.com</h6>
                      <h6 class="card-title"><i class="fa fa-phone"></i> (16) 3701-9999</h6>
                  </div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="teste.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Professor Fernando</h5>
                    <h5 class="card-title">
                        <b>Fatec Franca</b>
                    </h5>
                    <h6 class="card-title"><i class="fa fa-envelope"></i> fernando.martins8@fatec.sp.gov.br</h6>
                    <h6 class="card-title"><i class="fa fa-phone"></i> (16) 3701-9999</h6>
                </div>
        </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="teste.png" alt="Card image cap">
              <div class="card-body">
                  <h5 class="card-title">Yuri Oliveira de Paula</h5>
                  <h5 class="card-title">
                      <b>Fatec Franca</b>
                  </h5>
                  <h6 class="card-title"><i class="fa fa-envelope"></i> yuriodp@gmail.com</h6>
                  <h6 class="card-title"><i class="fa fa-phone"></i> (16) 3701-9999</h6>
                  
              </div>
      </div>
  </div>
  </div>
   


  </div>




</div>