<div class="wrapper">

    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/acesso_dash.png');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <br>
            <h1 align="center">{{anuncio.titulo | uppercase}}</h1>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" [attr.data-slide-to]="id"  [ngClass]="id == 0 ? 'active' : ''" *ngFor="let image of anuncio?.fotos, let id = index;"></li>
                        </ol>
                        <div class="carousel-inner" >
                            <div class="carousel-item" [ngClass]="idx == 0 ? 'active' : ''" *ngFor="let image of anuncio?.fotos, let idx = index;">
                                <img class="d-block w-100" alt="First slide" src="{{image}}">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <h2 align="center">Dados do Veiculo</h2><br>
                    <h3><strong>{{anuncio.titulo}}</strong></h3>
                    <div class="row">
                        <div class="col-md-12">
                            <p> Descrição : {{anuncio.descricao}}</p>
                        </div>
                    </div>
                    <div>
                        <h3>Valor : <strong class="label label-success">{{anuncio.preco | currency: 'BRL': true}}</strong></h3><br>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><span>Modelo: </span><b>{{anuncio.nomeModelo}}</b></li>
                                <li class="list-group-item"><span>Marca: </span><b>{{anuncio.nomeMarca}}</b></li>
                                <li class="list-group-item"><span>Ano: </span><b>{{anuncio.ano}}</b></li>
                                <li class="list-group-item"><span>Combustivel: </span><b>{{anuncio.combustivel}}</b></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <span class="label label-info">Opcionais</span><br>

                            <ul>
                                <li *ngFor="let anuncio of anuncio.opcionais">
                                    <a>
                                        <span>{{anuncio.tipo}}</span> {{anuncio.info}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-dark text-center landing-section">
        <div class="container">
            <h2 class="title center">Dados Vendedor</h2>
            <div class="row justify-content-center">
                <div>
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar">
                                <img [src]="cliente?.foto || ''">
                            </a>
                        </div>
                        <div class="card-body">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">{{cliente.nome}}</h4>
                                    <h6 class="card-category text-muted">{{cliente.descricao}}</h6>
                                </div>
                            </a>
                            <div class="card-description text-center">
                                <h4>Contatos</h4><br>
                                <table *ngFor="let contato of cliente.contatos">
                                    <tr>
                                        <td>{{contato.tipo}}</td>
                                        <td>{{contato.info}}</td>
                                    </tr>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<img class="card-img-top" [src]="anuncio.fotos[0] || ''" alt="Card image cap">-->