<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/pesquisa.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="name">
                    <h3 class="title">Pesquisa de Veiculos<br /></h3>
                </div>
            </div>
            <form>
                <select name="Escolha a Marca" class="btn btn-outline-primary" [(ngModel)]="selectedMarca" (change)="getFipeData()">
                    <option value="0">Escolha a Marca</option>
            <option *ngFor="let marca of marcas" value="{{marca.idMarca}}">{{marca.nomeMarca}}</option>
          </select>

                <select name="Modelo" class="btn btn-outline-primary" [(ngModel)]="selectedModelo" (change)="getFipeData()">
            <option value="0">Escolha o Modelo</option>
            <option *ngFor="let modelo of modelos" value="{{modelo.idModelo}}">{{modelo.nomeModelo}}</option>
          </select>

                <select name="Ano" class="btn btn-outline-primary" [(ngModel)]="selectedAno" (change)="getFipeData()">
            <option value="0">Escolha o Ano</option>
            <option *ngFor="let ano of anos" value="{{ano.ano}}">{{ano.ano}}</option>
          </select>
                <br><br>
                <label>Escolha a faixa de Preço</label>
                <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options" class="slider"></ng5-slider>
                <br><br>

                <div class="row justify-content-between">
                    <div class="col-8">
                        <button class="btn btn-outline-success " (click)="getAnuncios()">Pesquisar</button>
                    </div>
                    <div class="col-4 text-right">
                        <button class="btn btn-outline-default" (click)="getAll()">Mostrar Tudo</button>
                        <button class="btn btn-outline-default align-self-end" (click)="limparFiltros()">Limpar Filtros</button>
                    </div>
                </div>
            </form>
            <h2 class="text-center">Anuncios</h2>
            <br />
            <div class="row posicao">
                <div class="col-md-3" *ngFor="let anuncio of anuncios">
                    <div class="card" style="width: 14rem;">
                        <a [routerLink]="['/anuncio', anuncio.id]">
                            <img class="card-img-top" [src]="anuncio?.fotos[0] || ''" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{anuncio.titulo}}</h5>
                                <h5 class="card-title">
                                    <b>{{anuncio.preco | currency: 'BRL': true }}</b>
                                </h5>
                            </div>
                        </a>
                        <hr size="20px" style="border: 1px solid #cccccc;">
                        <div class="card-header">
                            <a [routerLink]="['/perfil', anuncio.anuncianteId]">
                                <div class="row">
                                    <div class="col-md-4 col-sm-2 ml-auto mr-auto margem-dentro">
                                        <img alt="Circle Image" class="img-circle avatar img-no-padding img-responsive" [src]="anuncio?.anuncianteFoto || ''">
                                    </div>
                                    <div class="col-md-8 col-sm-4 ml-auto margem-dentro align-self-center">
                                        <h6 class="card-title"><small>{{anuncio.anuncianteNome}}</small></h6>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>