<div class="wrapper">
    <div class="page-header" [style.backgroundImage]="'url(' + backGroundImage + ')'">
        <div class="filter"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                    <div class="card card-register azul">
                        <h3 class="d-flex justify-content-center">Bem-Vindo</h3>
                        <form class="register-form" (ngSubmit)="autenticar()">
                            <label>Email</label>
                            <input type="text" class="form-control" placeholder="Email" name="email" [(ngModel)]="usuario.email">

                            <label>Password</label>
                            <input type="password" class="form-control" placeholder="Password" name="senha" [(ngModel)]="usuario.senha">
                            <button class="btn btn-info btn-block btn-round">Entrar</button>
                            <button class="btn btn-success btn-sm btn-block btn-round" (click)="goToCadastro()">Cadastrar</button>
                        </form>
                        <div class="forgot">
                            <a href="#" class="btn btn-link btn-info">Esqueceu Senha?</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer register-footer text-center">
                <h6>&copy;{{test | date: 'yyyy'}}, <i class="fa fa-star heart"></i> TG André | Yuri</h6>
            </div>
        </div>
    </div>
</div>