<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/pesquisa.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img class="img-circle img-no-padding img-responsive" [src]="cliente?.urlFoto || ''" />
                </div>
                <h5 *ngIf="!cliente?.cadastroCompleto">
                    <strong class="label label-danger">Perfil Incompleto!</strong>
                </h5>
                <h5 *ngIf="!emailValidado">
                    <strong class="label label-danger">Confirmação de Email Pendente!</strong>
                </h5>
                <div class="name">
                    <h4 class="title">{{cliente?.nome }}
                        <br />
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <p>{{cliente?.descricao }} </p>
                    <br />
                </div>
            </div>
            <br/>
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <ngb-tabset [justify]=" 'center'">
                        <ngb-tab title="Anuncios">
                            <ng-template ngbTabContent>
                                <div class="row following" id="follows">
                                    <div class="col-md-12 ml-auto mr-auto">
                                        <div class="row">
                                            <!--<div class="col-md-4 col-sm-4 ml-auto">
                                                <div class="form-group">
                                                     <input type="text" class="form-control" placeholder="Pesquisar">
                                                </div>
                                            </div>-->
                                            <div class="col-md-12 col-sm-12 ml-auto mr-auto">
                                                <button class="btn btn-success btn-round" (click)="openLg(content, 0)" *ngIf="cliente?.cadastroCompleto && emailValidado">Inserir Veiculo</button>
                                                <button class="btn btn-success btn-round" *ngIf="!cliente?.cadastroCompleto || !emailValidado" [swal]="{title: 'Existem pendências no seu cadastro, Verifique!', type: 'info'}">Inserir Veiculo</button>
                                                <!--<button class="btn btn-success btn-round" data-toggle="modal" data-target=".bd-example-modal-lg" (click)='novoAnuncio()'
                                                    *ngIf="cliente?.cadastroCompleto && emailValidado">Inserir Anuncio</button>
                                                <button class="btn btn-success btn-round" *ngIf="!cliente?.cadastroCompleto || !emailValidado" [swal]="{title: 'Existem pendências no seu cadastro, Verifique!', type: 'info'}">Inserir Anuncio</button>-->
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row posicao">
                                            <div class="col-md-4" *ngFor="let anuncio of anuncios">
                                                <div class="card" style="width: 18rem;">
                                                    <a [routerLink]="['/anuncio', anuncio.anuncianteId, anuncio.id]">
                                                        <div class="card-title">
                                                            <img class="tamanho" [src]="anuncio?.fotos[0] || ''" alt="Card image cap">
                                                        </div>
                                                        <div class="card-body">
                                                            <h5 class="card-title">{{anuncio.titulo}}</h5>
                                                            <h5 class="card-title">
                                                                <b>{{anuncio.preco | currency: 'BRL': true }}</b>
                                                            </h5>
                                                            <h6 class="card-title">{{anuncio.nomeMarca}} | {{anuncio.nomeModelo}}</h6>
                                                        </div>
                                                    </a>
                                                    <hr size="20px" style="border: 1px solid #cccccc;">
                                                    <div class="card-header">
                                                        <div class="row text-center">
                                                            <button class="btn btn-info btn-round btn-sm" data-toggle="modal" data-target=".bd-example-modal-lg" (click)='openLg(content, anuncio)'>Editar</button>
                                                            <button class="btn btn-danger btn-round btn-sm" (click)="deleteAnuncio(anuncio.id)">Excluir</button>
                                                            <button class="btn btn-success btn-round btn-sm" *ngIf="!anuncio?.aberto" (click)="changeStatus(anuncio)">Abrir</button>
                                                            <button class="btn btn-warning btn-round btn-sm" *ngIf="anuncio?.aberto" (click)="changeStatus(anuncio)">Fechar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Perfil">
                            <ng-template ngbTabContent>
                                <br />
                                <form (ngSubmit)="postCliente()">
                                    <h2>Dados do Anunciante</h2>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                                    <img data-src="" alt="..." [src]="cliente?.urlFoto || ''">
                                                </div>
                                                <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
                                                <div>
                                                    <span class="btn btn-default btn-file">
                                                        <span class="fileinput-new">Selecione Imagem</span>
                                                    <span class="fileinput-exists">Selecione Imagem</span>
                                                    <input type="file" name="..." #logoInput (change)="prepareUploadLogo($event)">
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="form-row">
                                                <div class="form-group col-md-3">
                                                    <label> CPF/CNPJ</label>
                                                    <input type="text" class='form-control' placeholder="CPF/CNPJ" name="cpf_cnpj" [(ngModel)]="cliente.cpf_cnpj">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label> Nome </label>
                                                    <input type="text" class="form-control" placeholder="nome" name="nome" [(ngModel)]="cliente.nome">
                                                </div>
                                                <!-- <div class="form-group col-md-3">
                                                            <label> Foto ou Logo </label>
                                                            <input class="form-control-file " #logoInput name="foto_logo" type=file (change)="prepareUploadLogo($event)" />
                                                        </div>-->
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-2">
                                                    <label>CEP</label>
                                                    <input type="text" class="form-control" placeholder="CEP" name="cep" [(ngModel)]="cliente.endereco.cep" (blur)="getCEPData()">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label>Endereço</label>
                                                    <input type="text" class="form-control" placerholder="Endereço" name="endereco" [(ngModel)]="cliente.endereco.rua">
                                                </div>
                                                <div class="form-group col-md-1">
                                                    <label>Número</label>
                                                    <input type="text" class="form-control" placeholder="Número" name="numero" [(ngModel)]="cliente.endereco.numero">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label>Complemento</label>
                                                    <input type="text" class="form-control" placeholder="Complemento" name="complento" [(ngModel)]="cliente.endereco.complemento">
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-4">
                                                    <label>Bairro</label>
                                                    <input type="text" class="form-control" placerholder="Bairro" name="bairro" [(ngModel)]="cliente.endereco.bairro">
                                                </div>
                                                <div class="form-group col-md-5">
                                                    <label>Cidade</label>
                                                    <input type="text" class="form-control" placeholder="Cidade" name="cidade" [(ngModel)]="cliente.endereco.cidade">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label>Estado</label>
                                                    <input type="text" class="form-control" placeholder="Estado" name="estado" [(ngModel)]="cliente.endereco.uf">
                                                </div>
                                            </div>
                                            <h5>Contato</h5>
                                            <br>
                                            <div class="form-row">
                                                <div class="form-group col-md-3">
                                                    <select name="tipoContato" class="btn btn-outline-primary" [(ngModel)]="contato.tipo">
                                                        <option [ngValue]="contato" *ngFor="let contato of tiposContato">{{contato}}</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <input type="text" class="form-control" name="descricaoContato" [(ngModel)]="contato.info" placeholder="Descricao contato">
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <button class="btn btn-outline-primary" (click)="addContato()">Adicionar</button>
                                                </div>
                                            </div>

                                            <div class="form-row text-left">
                                                <div class="col-md-6">
                                                    <table class="table table-striped table-hover text-center" *ngIf="cliente.contatos.length > 0">
                                                        <thead class="">
                                                            <tr class="table-primary">
                                                                <th>Contato</th>
                                                                <th>Info</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let contato of cliente.contatos">
                                                                <td> {{contato.tipo}}</td>
                                                                <td> {{contato.info}}</td>
                                                                <td>
                                                                    <div class="btn btn-outline-danger btn-just-icon btn-sm" title="Deletar Contato" (click)="deleteContato(contato)">x</div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                            <!--    
                                                        <div class="form-row">
                                                        <div class="form-group col-md-4">
                                                            <label>Email - 1</label>
                                                            <input type="text" class="form-control" placeholder="E-mail 1" name="email1">
                                                            <br />
                                                            <label>Email - 2</label>
                                                            <input type="text" class="form-control" placeholder="E-mail 2" name="email2">
                                                        </div>
                                                        <div class="form-group col-md-2">
                
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <div class="row">
                                                                <label>Telefone 1</label>
                                                                <div class="form-group col-md-4">
                                                                    <input type="text" class="form-control" placeholder="Telefone 1" name="fone1">
                                                                </div>
                                                                <div class="form-group col-md-4">
                                                                    <select name="tipo_telefone2" class="btn btn-outline-primary">
                                                                            <option value="">Tipo</option>
                                                                            <option value="celular">Celular</option>
                                                                            <option value="comercial">Comercial</option>
                                                                            <option value="outros">Outros</option>
                                                                        </select>
                                                                </div>
                                                            </div>
                                                            <br />
                                                            <div class="row">
                                                                <label>Telefone 2</label>
                                                                <div class="form-group col-md-4">
                                                                    <input type="text" class="form-control" placeholder="Telefone 2" name="fone2">
                                                                </div>
                                                                <div class="form-group col-md-4">
                                                                    <select name="tipo_telefone1" class="btn btn-outline-primary">
                                                                        <option value="">Tipo</option>
                                                                        <option value="celular">Celular</option>
                                                                        <option value="comercial">Comercial</option>
                                                                        <option value="outros">Outros</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <br />
                                                            <div class="row">
                                                                <label>Telefone 3</label>
                                                                <div class="form-group col-md-4">
                                                                    <input type="text" class="form-control" placeholder="Telefone 3" name="fone3">
                                                                </div>
                                                                <div class="form-group col-md-4">
                                                                    <select name="tipo_telefone3" class="btn btn-outline-primary">
                                                                        <option value="">Tipo</option>
                                                                        <option value="celular">Celular</option>
                                                                        <option value="comercial">Comercial</option>
                                                                        <option value="outros">Outros</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        </div>
                                                    -->

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Descrição Anunciante</label>
                                                        <textarea class="form-control" rows="4" name="descricao" placeholder="Descrição da Empresa" [(ngModel)]="cliente.descricao"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-info btn-lg">Confirmar</button>
                                        </div>
                                    </div>
                                </form>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content" *ngIf="progressoPublicacao === 'pendente'">
                    <div class="container topo">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="fechar()">x</button>
                        <span aria-hidden="true">&times;</span>
                        <h4 class="modal-title">Cadastro do Anúncio</h4>

                    </div>
                    <form>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>Titulo Anúncio</label>
                                        <input type="text" class="form-control" name="titulo" placeholder="Titulo do Anuncio" aria-describedby="basic-addon1" [(ngModel)]='anuncio.titulo'>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-11">
                                    <div class="form-group">
                                        <label>Descrição Anuncio</label>
                                        <textarea class="form-control" rows="4" name="descricao" placeholder="Descrição do Anuncio" [(ngModel)]='anuncio.descricao'></textarea>
                                    </div>
                                </div>
                            </div>
                            <h5 class="text-center">Dados do Veiculo</h5>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="Tipo">Tipo</label>
                                        <select name="Tipo" class="btn btn-outline-primary" [(ngModel)]='selectedTipo' (change)='getMarcas()'>
                                            <option value="carros">Carros</option>
                                            <option value="motos">Motos</option>
                                            <option value="caminhoes">Caminhoes</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="marca">Marca</label>
                                        <select name="marca" class="btn btn-outline-primary" [(ngModel)]="selectedMarca" (change)='getModelos()'>
                                            <option [ngValue]="marca" *ngFor="let marca of marcas">{{marca.nome}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Modelo</label>
                                        <br>
                                        <select name="modelo" class="btn btn-outline-primary tm_modelo" [(ngModel)]="selectedModelo" (change)='getAnos()'>
                                            <option *ngFor="let modelo of modelos" [ngValue]="modelo">{{modelo.nome}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group has-success">
                                        <label>Ano</label>
                                        <br>
                                        <select name="Ano" class="btn btn-outline-primary" [(ngModel)]="selectedAno" (change)="getFipe()">
                                            <option *ngFor="let ano of anos" [ngValue]="ano">{{ano.nome}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group has-success">
                                        <label for="combustivel">Combustivel</label>
                                        <select name="combustivel" class="btn btn-primary" [(ngModel)]="anuncio.combustivel">
                                            <option value="Gasolina">Gasolina</option>
                                            <option value="Alcool">Alcool</option>
                                            <option value="Diesel">Diesel</option>
                                            <option value="Flex">Flex</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Valor Tabela Fipe</label>
                                        <label>{{dadosFipe.valor}}</label>
                                    </div>
                                </div>
                            </div>
                            <h5 class="text-center">Adicione o Valor de Venda do Veículo</h5>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Valor do Veiculo</label>
                                        <input type="number" class="form-control" name="preco" placeholder="Valor do Veiculo" aria-describedby="basic-addon1" [(ngModel)]='anuncio.preco'>
                                    </div>
                                </div>

                            </div>
                            <h5 class="text-center">Insira os Opcionais</h5>
                            <div class="row">
                                <div>
                                    <label>Inserir Opcional
                                        <select class="btn btn-outline-primary" name="tipoOpcional" [(ngModel)]='opcional.info'>
                                            <option [ngValue]="opcional" *ngFor="let opcional of opcionais">{{opcional}}</option>
                                        </select>
                                    </label>
                                    <button class="btn btn-success" (click)="adicionarOpcional(opcional)">
                                        add
                                    </button>
                                </div>
                            </div>
                            <ul class="heroes">
                                <li *ngFor="let opcional of anuncio.opcionais">
                                    {{opcional.info}}
                                    <button class="btn btn-outline-danger btn-just-icon" (click)="deleteOpcional(opcional)">x</button>
                                </li>
                            </ul>
                            <br>
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <span class="btn btn-success btn-file">Inserir foto
                                    <input type="file" name="arquivos1" multiple accept="image/*" (change)="teste($event)">
                                </span>

                                <div class="fileinput-preview" style="max-width: 200px; max-height: 150px;"></div>
                                <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">Remove</a>

                            </div>
                            <br>
                            <div (click)='anuncioFiles.click();' class="fileUpload btn btn-danger">
                                <input style="display: none;" #anuncioFiles class="form-control-file btn btn-danger" name="arquivos" type=file multiple accept="image/*"
                                    (change)="prepareUpload($event)" />
                                <span>Inserir Fotos</span>
                            </div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th style="width: 5%; height: 5%;">#</th>
                                        <th>#</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let img of auxFoto, let ex = index">
                                        <td>
                                            <img src="{{img}}" alt="">
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-danger" (click)="excluiImg(ex);">Excluir</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                            <div *ngFor="let imagem of anuncio.fotos">
                                <div class="" style="width: 14rem;">
                                    <div>
                                        <small>
                                            <a class="btn btn-outline-danger align-self-end" (click)="removeFoto(imagem)">X</a>
                                        </small>
                                    </div>
                                    <img class="card-img-top" [src]="imagem || ''" alt="Card image cap">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success center" (click)='postAnuncio()'>Cadastrar Anuncio</button>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal('custom-modal-1');">Close</button>

                        </div>
                    </form>
                     </div>
                </div>
                <div class="modal-content" *ngIf="progressoPublicacao === 'andamento'">

                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Publicação em andamento</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Progresso: {{ porcentagemUpload }}%
                    </div>
                </div>


                <div class="modal-content" *ngIf="progressoPublicacao === 'concluido'">

                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Publicação realizada com sucesso</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="getAnuncios()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Sua publicação foi realizada com sucesso!
                    </div>
                </div>
            </div>
        </div>
</div>-->


    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Cadastro Anúncio</h4>
        </div>
        <div class="modal-content" *ngIf="progressoPublicacao === 'pendente'">
            <!--<div class="container topo">-->
            <form>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label>Titulo Anúncio</label>
                                <input type="text" class="form-control" name="titulo" placeholder="Titulo do Anuncio" aria-describedby="basic-addon1" [(ngModel)]='anuncio.titulo' required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-11">
                            <div class="form-group">
                                <label>Descrição Anuncio</label>
                                <textarea class="form-control" rows="4" name="descricao" placeholder="Descrição do Anuncio" [(ngModel)]='anuncio.descricao'></textarea>
                            </div>
                        </div>
                    </div>
                    <h5 class="text-center">Dados do Veiculo</h5>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="Tipo">Tipo</label>
                                <select name="Tipo" class="btn btn-outline-primary" [(ngModel)]='selectedTipo' (change)='getMarcas()'>
                                    <option value="carros">Carros</option>
                                    <option value="motos">Motos</option>
                                    <option value="caminhoes">Caminhoes</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="marca">Marca</label>
                                <select name="marca" class="btn btn-outline-primary" [(ngModel)]="selectedMarca" (change)='getModelos()'>
                                    <option [ngValue]="marca" *ngFor="let marca of marcas">{{marca.nome}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Modelo</label>
                                <br>
                                <select name="modelo" class="btn btn-outline-primary tm_modelo" [(ngModel)]="selectedModelo" (change)='getAnos()'>
                                    <option *ngFor="let modelo of modelos" [ngValue]="modelo">{{modelo.nome}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group has-success">
                                <label>Ano</label>
                                <br>
                                <select name="Ano" class="btn btn-outline-primary" [(ngModel)]="selectedAno" (change)="getFipe()">
                                    <option *ngFor="let ano of anos" [ngValue]="ano">{{ano.nome}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group has-success">
                                <label for="combustivel">Combustivel</label>
                                <select name="combustivel" class="btn btn-outline-primary" [(ngModel)]="anuncio.combustivel">
                                    <option value="Gasolina">Gasolina</option>
                                    <option value="Alcool">Alcool</option>
                                    <option value="Diesel">Diesel</option>
                                    <option value="Flex">Flex</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-5" *ngIf="dadosFipe">
                            <div class="form-group">
                                <label>Valor Tabela Fipe</label><br>
                                <label><b>{{dadosFipe.preco}}</b></label>
                            </div>
                        </div>
                    </div>
                    <h5 class="text-center">Adicione o Valor de Venda do Veículo</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Valor do Veiculo</label>
                                <input type="number" class="form-control" name="preco" placeholder="Valor do Veiculo" aria-describedby="basic-addon1" [(ngModel)]='anuncio.preco'>
                            </div>
                        </div>

                    </div>
                    <h5 class="text-center">Insira os Opcionais</h5>
                    <div class="row">
                        <div>
                            <label>Inserir Opcional
                                <select class="btn btn-outline-primary" name="tipoOpcional" [(ngModel)]='opcional.info'>
                                    <option [ngValue]="opcional" *ngFor="let opcional of opcionais">{{opcional}}</option>
                                </select>
                            </label>
                            <button class="btn btn-success" (click)="adicionarOpcional(opcional)">
                                add
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <table class="table table-striped table-hover text-center" *ngIf="anuncio.opcionais.length > 0">
                                <thead class="">
                                    <tr class="table-primary">
                                        <th>Opcional</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let opcional of anuncio.opcionais">
                                        <td> {{opcional.info}}</td>
                                        <td>
                                            <div class="btn btn-outline-danger btn-just-icon btn-sm" title="Deletar Opcional" (click)="deleteOpcional(opcional)">x</div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br>
                    <div class="fileinput fileinput-new" data-provides="fileinput">
                        <!--
                        <span class="btn btn-success btn-file">Inserir foto
                            <input type="file" name="arquivos1" multiple accept="image/*" (change)="teste($event)">
                        </span>
                        -->
                        <div class="fileinput-preview" style="max-width: 200px; max-height: 150px;"></div>
                        <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">Remove</a>

                    </div>
                    <br>
                    <div (click)='anuncioFiles.click();' class="fileUpload btn btn-danger">
                        <input style="display: none;" #anuncioFiles class="form-control-file btn btn-danger" name="arquivos" type=file multiple accept="image/*" (change)="prepareUpload($event)" />
                        <span>Inserir Fotos</span>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <table class="table" *ngIf="auxFoto.length > 0">
                                <thead>
                                    <tr>
                                        <th>Novas Fotos</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let img of auxFoto, let ex = index">
                                        <td>
                                            <img style="width: 50%; height: auto;" src="{{img}}" alt="">
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-danger" (click)="excluiImg(ex);">Excluir</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>


                        <div class="col-md-6">
                            <table class="table" *ngIf="anuncio.fotos.length > 0">
                                <thead>
                                    <tr>
                                        <th>Fotos ja cadastradas</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let img of anuncio.fotos">
                                        <td>
                                            <img style="width: 50%; height: auto;" src="{{img}}" alt="">
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-danger" (click)="removeFoto(img)">Excluir</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success center" (click)='postAnuncio()'>Cadastrar Anuncio</button>
                    </div>
                </div>
                <div class="modal-footer">


                </div>
            </form>
            <!-- </div>-->
        </div>
        <div class="modal-content" *ngIf="progressoPublicacao === 'andamento'">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Publicação em andamento</h5>
            </div>
            <div class="modal-body">
                {{ porcentagemUpload }} Progresso:
                <p><ngb-progressbar type="info" [value]="porcentagemUpload"></ngb-progressbar></p>
            </div>
        </div>


        <div class="modal-content" *ngIf="progressoPublicacao === 'concluido'">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Publicação realizada com sucesso</h5>
            </div>
            <div class="modal-body">
                Sua publicação foi realizada com sucesso!
            </div>
        </div>
        <div class="modal-footer">

        </div>
    </ng-template>

    <hr>

    <pre>{{closeResult}}</pre>

    <swal #mySwal title="" type="" text="">
    </swal>

    <swal #swDeleteAnuncio title="" type="question" text="Deseja excluir o Anuncio?" [showCancelButton]=true>
    </swal>

    <swal #swChangeAnuncio title="" type="question" text="Deseja alterar o status do Anuncio?" [showCancelButton]=true>
    </swal>