<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/garagem2.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <!--
                      <img src="./assets/img/faces/brasilcar.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                  -->
                    <img alt="Circle Image" class="img-circle img-no-padding img-responsive" [src]="cliente.foto || '' " />
                </div>
                <div class="name">
                    <h4 class="title">{{cliente.nome }}
                        <br />
                    </h4>
                    <!-- <h6 class="description">Revendedora de Veiculos</h6> -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <p>{{cliente.descricao }} </p>
                    <br />
                </div>
            </div>
            <br/>
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <ngb-tabset [justify]="'center'">
                        <ngb-tab title="Carros">
                            <ng-template ngbTabContent>
                                <div class="row following" id="follows">
                                    <div class="col-md-9 ml-auto mr-auto">
                                        <ul class="list-unstyled follows">
                                            <div class="row">
                                                <div class="col-md-4 col-sm-4 ml-auto">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" placeholder="Pesquisar">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-2 ml-auto mr-auto">
                                                    <button class="btn btn-success btn-round" data-toggle="modal" data-target=".bd-example-modal-lg">Inserir Veiculo</button>
                                                </div>
                                            </div>
                                            <li *ngFor="let anuncio of anuncios">
                                                <div class="row">
                                                    <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                        <img [src]="anuncio.veiculo.fotos[0] || ''" alt="Circle Image" class="img-thumbnail img-no-padding img-responsive">
                                                    </div>
                                                    <div class="col-md-4 col-sm-4 ml-auto">
                                                        <h5>{{anuncio.titulo}}
                                                            <br/>
                                                            <small>Aberto: {{anuncio.aberto}} |
                                                                <b> {{anuncio.veiculo.preco}} </b>
                                                            </small>
                                                        </h5>
                                                    </div>
                                                    <div class="col-md-6 col-sm-2 ml-auto mr-auto">
                                                        <button class="btn btn-info btn-round">Editar</button>
                                                        <button class="btn btn-danger btn-round" (click)="deleteAnuncio(anuncio.id)">Excluir</button>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Cadastro ">
                            <ng-template ngbTabContent>
                                <div class="row ">
                                    <button class="btn btn-info btn-round ">Editar</button>
                                </div>
                                <br />
                                <!--
                                < <form>
                                    <h5>Dados da Empresa</h5>
                                    <br />
                                    <div class="form-row ">

                                        <div class="form-group col-md-6 ">
                                            <input type="text " class="form-control " placeholder="Rua Antonio Brasilino dos Santos " autocomplete="off " name="endereco " minlength="3 " maxlength="120 " required ngModel disabled #inputEndereco="ngModel ">
                                            <small *ngIf="inputEndereco.valid && inputEndereco.touched " class="form-text text-success ">OK</small>
                                            <small *ngIf="!inputEndereco.valid && inputEndereco.touched " class="form-text text-danger ">Endereço Inválido</small>
                                        </div>

                                        <div class="form-group col-md-2 ">
                                            <input type="text " class="form-control " placeholder="Número " autocomplete="off " name="numero " minlength="1 " required ngModel #inputNumero="ngModel ">
                                            <small *ngIf="inputNumero.valid && inputNumero.touched " class="form-text text-success ">OK</small>
                                            <small *ngIf="!inputNumero.valid && inputNumero.touched " class="form-text text-danger ">Numero Inválido</small>
                                        </div>

                                        <div class="form-group col-md-4 ">
                                            <input type="text " class="form-control " placeholder="Complemento " autocomplete="off " name="complemento " ngModel #inputComplemento="ngModel ">
                                            <small *ngIf="inputComplemento.valid && inputComplemento.touched " class="form-text text-success ">OK</small>
                                        </div>

                                    </div>
                                    <br />
                                    <h5>Dados Pessoais</h5>
                                    <hr />

                                    <div class="form-row ">

                                        <div class="form-group col-md-3 ">
                                            <select class="form-control " name="formaPagamento " required ngModel #selectFormaPagamento="ngModel ">
                                          <option value=" ">Selecione uma opção</option>
                                          <option value="dinheiro ">Dinheiro</option>
                                          <option value="debito ">Débito</option>
                                        </select>
                                            <small *ngIf="selectFormaPagamento.valid && selectFormaPagamento.touched " class="form-text text-success ">OK</small>
                                            <small *ngIf="!selectFormaPagamento.valid && selectFormaPagamento.touched " class="form-text text-danger ">Forma de pagamento inválido</small>
                                        </div>
                                    </div>

                                    <hr />
                                    <button type="submit " class="btn btn-info btn-lg " ng-submit=" ">Cofirmar</button>
                                    </form>
-->
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="container topo">
                    <div class="modal-header">
                        <h5 class="modal-title">Cadastro de Veiculo</h5>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <select name="Escolha a Marca" class="btn btn-primary">
                                        <option value="">Escolha a Marca</option>
                                        <option value="saab">Saab</option>
                                        <option value="fiat">Fiat</option>
                                        <option value="audi">Audi</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group has-success">
                                    <select name="Modelo" class="btn btn-primary">
                                        <option value="">Escolha o Modelo</option>
                                        <option value="saab">Saab</option>
                                        <option value="fiat">Fiat</option>
                                        <option value="audi">Audi</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group has-success">
                                    <select name="Modelo" class="btn btn-primary">
                                        <option value="">Ano</option>
                                        <option value="saab">2018</option>
                                        <option value="fiat">2017</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Ano" aria-describedby="basic-addon1">
                                    <span class="input-group-addon" id="basic-addon1">
                                        <i class="fa fa-group" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Combustivel" aria-describedby="basic-addon1">
                                    <span class="input-group-addon" id="basic-addon1">
                                        <i class="fa fa-group" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Valor" aria-describedby="basic-addon1">
                                    <span class="input-group-addon" id="basic-addon1">
                                        <i class="fa fa-group" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value=""> Unchecked
                                <span class="form-check-sign"></span>
                            </label>
                        </div>
                        <br>
                        <br>
                        <input class="form-control-file" name="arquivos[]" type=file multiple />
                    </div>
                </div>
            </div>
        </div>
    </div>