<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" [style.backgroundImage]="'url(' + garageImage + ')'">
        <div class="filter "></div>
    </div>
    <div class="section profile-content ">
        <div class="container ">
            <div class="owner ">
                <div class="avatar ">
                    <img alt="Circle Image " class="img-circle img-no-padding img-responsive " [src]="cliente.foto || '' " />
                </div>
                <div class="name ">
                    <h4 class="title ">{{cliente.nome }}
                        <br />
                    </h4>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-6 ml-auto mr-auto text-center ">
                    <p>{{cliente.descricao }} </p>
                    <br />
                </div>
            </div>
            <br/>
            <div class="nav-tabs-navigation ">
                <div class="nav-tabs-wrapper ">
                    <ngb-tabset [justify]=" 'center' ">
                        <ngb-tab title="Carros ">
                            <ng-template ngbTabContent>
                                <div class="row following " id="follows ">
                                    <div class="col-md-9 ml-auto mr-auto ">
                                        <ul class="list-unstyled follows ">
                                            <div class="row ">
                                                <div class="col-md-4 col-sm-4 ml-auto ">
                                                    <div class="form-group ">
                                                        <input type="text " class="form-control " placeholder="Pesquisar ">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-2 ml-auto mr-auto ">
                                                    <button class="btn btn-success btn-round " data-toggle="modal" data-target=".bd-example-modal-lg" (click)='novoAnuncio()'>Inserir Veiculo</button>
                                                </div>
                                            </div>
                                            <li *ngFor="let anuncio of anuncios ">
                                                <div class="row ">
                                                    <div class="col-md-2 col-sm-2 ml-auto mr-auto ">
                                                        <img [src]="anuncio.fotos[0] || ''" alt="Circle Image " class="img-thumbnail img-no-padding img-responsive ">
                                                    </div>
                                                    <div class="col-md-4 col-sm-4 ml-auto ">
                                                        <h5>{{anuncio.titulo}}
                                                            <br/>
                                                            <small>Aberto: {{anuncio.aberto}} |
                                                                <b> {{anuncio.preco}} </b>
                                                            </small>
                                                        </h5>
                                                    </div>
                                                    <div class="col-md-6 col-sm-2 ml-auto mr-auto ">
                                                        <button class="btn btn-info btn-round " data-toggle="modal" data-target=".bd-example-modal-lg" (click)='editarAnuncio(anuncio)'>Editar</button>
                                                        <button class="btn btn-danger btn-round " (click)="deleteAnuncio(anuncio.id) ">Excluir</button>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Cadastro ">
                            <ng-template ngbTabContent>
                                <div class="row ">
                                    <button class="btn btn-info btn-round" (click)="getCEPData()">Editar</button>
                                </div>
                                <br />
                                <!--
                                < <form>
                                    <h5>Dados da Empresa</h5>
                                    <br />
                                    <div class="form-row ">

                                        <div class="form-group col-md-6 ">
                                            <input type="text " class="form-control " placeholder="Rua Antonio Brasilino dos Santos " autocomplete="off " name="endereco " minlength="3 " maxlength="120 " required ngModel disabled #inputEndereco="ngModel ">
                                            <small *ngIf="inputEndereco.valid && inputEndereco.touched " class="form-text text-success ">OK</small>
                                            <small *ngIf="!inputEndereco.valid && inputEndereco.touched " class="form-text text-danger ">Endereço Inválido</small>
                                        </div>

                                        <div class="form-group col-md-2 ">
                                            <input type="text " class="form-control " placeholder="Número " autocomplete="off " name="numero " minlength="1 " required ngModel #inputNumero="ngModel ">
                                            <small *ngIf="inputNumero.valid && inputNumero.touched " class="form-text text-success ">OK</small>
                                            <small *ngIf="!inputNumero.valid && inputNumero.touched " class="form-text text-danger ">Numero Inválido</small>
                                        </div>

                                        <div class="form-group col-md-4 ">
                                            <input type="text " class="form-control " placeholder="Complemento " autocomplete="off " name="complemento " ngModel #inputComplemento="ngModel ">
                                            <small *ngIf="inputComplemento.valid && inputComplemento.touched " class="form-text text-success ">OK</small>
                                        </div>

                                    </div>
                                    <br />
                                    <h5>Dados Pessoais</h5>
                                    <hr />

                                    <div class="form-row ">

                                        <div class="form-group col-md-3 ">
                                            <select class="form-control " name="formaPagamento " required ngModel #selectFormaPagamento="ngModel ">
                                          <option value=" ">Selecione uma opção</option>
                                          <option value="dinheiro ">Dinheiro</option>
                                          <option value="debito ">Débito</option>
                                        </select>
                                            <small *ngIf="selectFormaPagamento.valid && selectFormaPagamento.touched " class="form-text text-success ">OK</small>
                                            <small *ngIf="!selectFormaPagamento.valid && selectFormaPagamento.touched " class="form-text text-danger ">Forma de pagamento inválido</small>
                                        </div>
                                    </div>

                                    <hr />
                                    <button type="submit " class="btn btn-info btn-lg " ng-submit=" ">Cofirmar</button>
                                    </form>
-->
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bd-example-modal-lg " tabindex="-1 " role="dialog " aria-labelledby="myLargeModalLabel " aria-hidden="true ">
        <div class="modal-dialog modal-lg ">
            <div class="modal-content " *ngIf="progressoPublicacao === 'pendente'">
                <div class="container topo ">
                    <div class="modal-header ">
                        <h4 class="modal-title ">Cadastro do Anúncio</h4>
                    </div>
                    <form>
                        <div class="modal-body ">
                            <div class="row ">
                                <div class="col-md-8">
                                    <div class="form-group ">
                                        <label>Titulo Anúncio</label>
                                        <input type="text" class="form-control " name="titulo" placeholder="Titulo do Anuncio" aria-describedby="basic-addon1" [(ngModel)]='anuncio.titulo'>
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-11">
                                    <div class="form-group ">
                                        <label>Descrição Anuncio</label>
                                        <textarea class="form-control" rows="4" name="descricao" placeholder="Descrição do Anuncio" [(ngModel)]='anuncio.descricao'></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-3">
                                    <div class="form-group ">
                                        <label for="Tipo">Tipo</label>
                                        <select name="Tipo" class="btn btn-outline-primary " [(ngModel)]='selectedTipo' (change)='getMarcas()'>
                                                    <option value="carros">Carros</option>
                                                    <option value="motos">Motos</option>
                                                    <option value="caminhoes">Caminhoes</option>
                                                </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="marca">Marca</label>
                                        <select name="marca" class="btn btn-outline-primary " [(ngModel)]="selectedMarca " (change)='getModelos()'>
                                            <option [ngValue]="marca " *ngFor="let marca of marcas " >{{marca.nome}}</option>
                                          </select>
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="form-group has-success ">
                                        <label for="modelo">Modelo</label>
                                        <select name="modelo" class="btn btn-outline-primary " [(ngModel)]="selectedModelo " (change)='getAnos()'>
                                            <option *ngFor="let modelo of modelos " [ngValue]="modelo ">{{modelo.nome}}</option>
                                          </select>
                                    </div>
                                </div>
                                <div class="col-md-2 ">
                                    <div class="form-group has-success ">
                                        <label for="ano">Ano</label>
                                        <select name="Ano" class="btn btn-outline-primary " [(ngModel)]="selectedAno " (change)="getFipe() ">
                                            <option *ngFor="let ano of anos " [ngValue]="ano ">{{ano.nome}}</option>
                                          </select>
                                    </div>
                                </div>
                                <div class="col-md-3 ">
                                    <div class="form-group has-success ">
                                        <label for="combustivel">Combustivel</label>
                                        <select name="combustivel" class="btn btn-primary " [(ngModel)]="anuncio.combustivel ">
                                            <option value="Gasolina">Gasolina</option>
                                            <option value="Alcool">Alcool</option>
                                            <option value="Diesel">Diesel</option>
                                            <option value="Flex">Flex</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-6 ">
                                    <div class="form-group ">
                                        <label>Valor do Veiculo</label>
                                        <input type="number " class="form-control " name="preco " placeholder="Valor do Veiculo " aria-describedby="basic-addon1 " [(ngModel)]='anuncio.preco'>
                                    </div>
                                </div>
                                <div class="col-md-6 ">
                                    <div class="form-group ">
                                        <label>Valor Tabela Fipe</label>
                                        <input type="number " class="form-control " placeholder="Valor do Veiculo " aria-describedby="basic-addon1 ">
                                    </div>
                                </div>
                            </div>

                            <!--
                            <div class="row ">
                                <div class="col-md-3 ">
                                    <div class="form-check ">
                                        <label class="form-check-label ">
                                            <input class="form-check-input " type="checkbox " value=" "> Ar-Condicionado
                                            <span class="form-check-sign "></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-3 ">
                                    <div class="form-check ">
                                        <label class="form-check-label ">
                                            <input class="form-check-input " type="checkbox " value=" "> Desembasador
                                            <span class="form-check-sign "></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-3 ">
                                    <div class="form-check ">
                                        <label class="form-check-label ">
                                            <input class="form-check-input " type="checkbox " value=" "> Freio-ABS
                                            <span class="form-check-sign "></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-3 ">
                                    <div class="form-check ">
                                        <label class="form-check-label ">
                                            <input class="form-check-input " type="checkbox " value=" "> Direção Hidraulica
                                            <span class="form-check-sign "></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            -->
                            <br>
                            <br>
                            <input class="form-control-file " name="arquivos" type=file multiple accept="image/*" (change)="prepareUpload($event)" />
                            <br>

                            <div class="modal-footer ">
                                <button type="button " class="btn btn-success center " (click)='postAnuncio()'>Cadastrar Anuncio</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-content" *ngIf="progressoPublicacao === 'andamento'">

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Publicação em andamento</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body">
                    Progresso: {{ porcentagemUpload }}%
                </div>
            </div>


            <div class="modal-content" *ngIf="progressoPublicacao === 'concluido'">

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Publicação realizada com sucesso</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="getAnuncios()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Sua publicação foi realizada com sucesso!
                </div>
            </div>
        </div>