.posicao{
    margin-top: 1px;
}

.tamanho_div{
    background-color: #ffffff;
    background-position: center center;
    background-size: cover;
    min-height: 80vh;
    max-height: 999px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /* Center vertically */
    align-items: center;
    /*Center horizontaly */
    justify-content: center;

    /*Center horizontaly ie */
    -ms-flex-pack: center;
}

.avatar{
    height: 50px;
    width: 50px;
}

.centro{
    margin-top: 15px;
    position: center center;
}

.card-header{
    background-color: #ffffff;
}


