<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/fundo_principal.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <h1 class="presentation-title">YA - Motors</h1>
                </div>

                <h2 class="presentation-subtitle text-center">Plataforma venda de veiculos</h2>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
    </div>
    <div class="container">
        <h2 class="text-center">Vitrine</h2>
        <h3 class="text-center">Destaques</h3>
        <h4>Melhores Preços</h4>
        <div class="row posicao">
            <div class="col-md-4" *ngFor="let barato of baratos">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" [src]="barato.veiculo.fotos[0] || ''" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{barato.titulo}}</h5>
                        <h6 class="card-title">{{barato.preco}}</h6>
                        <p class="card-text">
                            {{barato.descricao}}
                        </p>
                        <a href="#" class="btn btn-primary">Informações</a>
                    </div>
                </div>
            </div>
        </div>
        <!--
        <div class="row posicao">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="assets/img/fotos/carro.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Gol 1.0</h5>
                        <h6 class="card-title">R$ 15.000,00</h6>
                        <p class="card-text">
                            2013/2014 | 4 portas | ar-condicionado
                        </p>
                        <a href="#" class="btn btn-primary">Informações</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="assets/img/fotos/carro2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Gol 1.0</h5>
                        <h6 class="card-title">R$ 15.000,00</h6>
                        <p class="card-text">
                            2013/2014 | 4 portas | ar-condicionado
                        </p>
                        <a href="#" class="btn btn-primary">Informações</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="assets/img/fotos/carro4.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Gol 1.0</h5>
                        <h6 class="card-title">R$ 15.000,00</h6>
                        <p class="card-text">
                            2013/2014 | 4 portas | ar-condicionado
                        </p>
                        <a href="#" class="btn btn-primary">Informações</a>
                    </div>
                </div>
            </div>
        </div>
    -->
        <h4>Ultimos Adicionados</h4>
        <div class="row posicao">
            <div class="col-md-4" *ngFor="let recente of recentes">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" [src]="recente.veiculo.fotos[0] || ''" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{recente.titulo}}</h5>
                        <h6 class="card-title">{{recente.preco}}</h6>
                        <p class="card-text">
                            {{recente.descricao}}
                        </p>
                        <a href="#" class="btn btn-primary">Informações</a>
                    </div>
                </div>
            </div>
        </div>
        <!--
    <div class="row posicao">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/img/fotos/carro5.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Gol 1.0</h5>
                    <h6 class="card-title">R$ 15.000,00</h6>
                    <p class="card-text">
                        2013/2014 | 4 portas | ar-condicionado
                    </p>
                    <a href="#" class="btn btn-primary">Informações</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/img/fotos/carro6.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Gol 1.0</h5>
                    <h6 class="card-title">R$ 15.000,00</h6>
                    <p class="card-text">
                        2013/2014 | 4 portas | ar-condicionado
                    </p>
                    <a href="#" class="btn btn-primary">Informações</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/img/fotos/carro7.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Gol 1.0</h5>
                    <h6 class="card-title">R$ 15.000,00</h6>
                    <p class="card-text">
                        2013/2014 | 4 portas | ar-condicionado
                    </p>
                    <a href="#" class="btn btn-primary">Informações</a>
                </div>
            </div>
        </div>
    </div>
    
        <h4>Fornecedores Destaques</h4>
        <div class="row posicao">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="assets/img/fotos/carro8.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Gol 1.0</h5>
                        <h6 class="card-title">R$ 15.000,00</h6>
                        <p class="card-text">
                            2013/2014 | 4 portas | ar-condicionado
                        </p>
                        <a href="#" class="btn btn-primary">Informações</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="assets/img/fotos/carro9.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Gol 1.0</h5>
                        <h6 class="card-title">R$ 15.000,00</h6>
                        <p class="card-text">
                            2013/2014 | 4 portas | ar-condicionado
                        </p>
                        <a href="#" class="btn btn-primary">Informações</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="assets/img/fotos/carro10.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Gol 1.0</h5>
                        <h6 class="card-title">R$ 15.000,00</h6>
                        <p class="card-text">
                            2013/2014 | 4 portas | ar-condicionado
                        </p>
                        <a href="#" class="btn btn-primary">Informações</a>
                    </div>
                </div>
            </div>
        </div>
    -->
    </div>
</div>
<div class="section section-dark text-center">
    <div class="container">
        <h2 class="title">YA Motors - Como utilizar nossos serviços?</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="https://firebasestorage.googleapis.com/v0/b/ya-motors.appspot.com/o/home%2Fcadastrar.png?alt=media&token=b7803ccb-201b-4866-84ae-35f6206625a1" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Cadastre-se</h4>
                                <h6 class="card-category">Botão Superior / Cadastrar</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                            No canto superior direito, só clicar sobre o ìcone de login e em seguida clicar na opção cadastrar.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="https://firebasestorage.googleapis.com/v0/b/ya-motors.appspot.com/o/home%2Facesso_dash.png?alt=media&token=d4e83b61-ad3d-4651-8fca-640516f87979" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Acessar Dashboard</h4>
                                <h6 class="card-category">Ícone Dashboard</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                            Após login, você habilita o seu dashboard para cadastro de veículos.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="https://firebasestorage.googleapis.com/v0/b/ya-motors.appspot.com/o/home%2Fdashboard.png?alt=media&token=71f6785d-1e50-40b8-bab5-08a62a6643e2" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Dashboard</h4>
                                <h6 class="card-category">Cadastro de Veículos</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                            Dentro do dashboard, você ja pode Inserir um novo veiculo para venda, editar seus veiculos, ou até mesmo excluir um registro, além de mudar dados do seu cadastro para os clientes entrarem em contato.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                    </div>
                </div>
            </div>
        </div>
        <h4>Clique abaixo e se cadastre!</h4><br />
        <button class="btn btn-sucess btn-rounded">Cadastrar</button>
    </div>
</div>