<div class="wrapper">
    <div class="tamanho_div" style="background-image: url('./assets/img/fundo_principal.jpg');">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <h1 class="presentation-title">YA - Motors</h1>
                </div>

                <h2 class="presentation-subtitle text-center">Plataforma de venda de veiculos</h2>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds32.png'); "></div>
    </div>
    <div class="container">
        <h2 class="text-center">Vitrine</h2>
        <h3 class="text-center">Melhores Preços</h3>
        <div class="row posicao">
            <div class="col-md-4" *ngFor="let barato of baratos">
                <div class="card" style="width: 18rem;">
                    <a [routerLink]="['/anuncio', barato.id]">
                        <img class="card-img-top" [src]="barato?.fotos[0] || ''" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{barato.titulo}}</h5>
                            <h5 class="card-title">
                                <b>{{barato.preco | currency: 'BRL': true }}</b>
                            </h5>
                        </div>
                    </a>
                    <div class="card-header">
                        <a [routerLink]="['/perfil', barato.anuncianteId]">
                            <div class="row">
                                <div class="col-md-4 col-sm-2 ml-auto mr-auto margem-dentro">
                                    <img alt="Circle Image" class="img-circle avatar img-no-padding img-responsive" src="./assets/img/daniel-olahh.jpg">
                                </div>
                                <div class="col-md-8 col-sm-4 ml-auto margem-dentro align-self-center">
                                    <h6 class="card-title"><small>{{barato.anuncianteNome}}</small></h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <h3 class="text-center">Ultimos Adicionados</h3>
        <div class="row posicao">
            <div class="col-md-4" *ngFor="let recente of recentes">
                <div class="card" style="width: 18rem;">
                    <a [routerLink]="['/anuncio', recente.id]">
                        <img class="card-img-top" [src]="recente?.fotos[0] || ''" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{recente.titulo}}</h5>
                            <h5 class="card-title">
                                <b>{{recente.preco | currency: 'BRL': true }}</b>
                            </h5>
                        </div>
                    </a>
                    <div class="card-header">
                        <a [routerLink]="['/perfil', recente.anuncianteId]">
                            <div class="row">
                                <div class="col-md-4 col-sm-2 ml-auto mr-auto margem-dentro">
                                    <img alt="Circle Image" class="img-circle avatar img-no-padding img-responsive" src="./assets/img/daniel-olahh.jpg">
                                </div>
                                <div class="col-md-8 col-sm-4 ml-auto margem-dentro align-self-center">
                                    <h6 class="card-title"><small>{{recente.anuncianteNome}}</small></h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section section-dark text-center">
    <div class="container">
        <h2 class="title">YA Motors - Como utilizar nossos serviços?</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <img [src]="images?.cadastrar || ''" alt="...">
                    </div>
                    <div class="card-block">
                        <div class="author">
                            <h4 class="card-title">Cadastre-se</h4>
                            <h6 class="card-category">Botão Superior / Cadastrar</h6>
                        </div>
                        <p class="card-description text-center">
                            No canto superior direito, só clicar sobre o ìcone de login e em seguida clicar na opção cadastrar.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <img [src]="images?.acesso_dash || ''" alt="...">
                    </div>
                    <div class="card-block">
                        <div class="author">
                            <h4 class="card-title">Acessar Dashboard</h4>
                            <h6 class="card-category">Ícone Dashboard</h6>
                        </div>
                        <p class="card-description text-center">
                            Após login, você habilita o seu dashboard para cadastro de veículos.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <img [src]="images?.dashboard || ''" alt="...">
                    </div>
                    <div class="card-block">
                        <div class="author">
                            <h4 class="card-title">Dashboard</h4>
                            <h6 class="card-category">Cadastro de Veículos</h6>
                        </div>
                        <p class="card-description text-center">
                            Dentro do dashboard, você ja pode Inserir um novo veiculo para venda, editar seus veiculos, ou até mesmo excluir um registro, além de mudar dados do seu cadastro para os clientes entrarem em contato.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                    </div>
                </div>
            </div>
        </div>
        <h4>Clique abaixo e se cadastre!</h4>
        <br />
        <button class="btn btn-sucess btn-rounded" [routerLink]="['/cadastro']">Cadastrar</button>
    </div>

</div>